html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.App {
  position: relative;
  overflow-x: hidden;
  
}
button {
  border: none;
  outline: none;
}
nav {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: black;
  height: 75px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
}
.bottomBanner{
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
.bottomBannerInfo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.imgDetail {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  color:white;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 20px;
  transform: scaleY(0);
  transition: transform 0.5s;
}
.desktop {
  display: block;
}
.dropDownList {
  width: 100%;
  background-color: black;
  display: none;
}
.introSlideBox {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: solid 5px pink;
  border-radius: 5px;
  height: 75vh;
  width: 75vw;
  transition: 0.5s;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.introFrame {
  border: solid 1px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}
.projectSlideBox {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: solid 5px pink;
  border-radius: 5px;
  height: 75vh;
  width: 75vw;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.projectImg {
  width: 500px;
  max-height: 375px;
}
.projectFrame {
  border: solid 1px;
  width: 16.67%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.projectNextPage {
  position: fixed;
  right: 0%;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.projectNextPage:hover{
  background: rgba(0, 0, 0, 0.5);
}
.projectPrevPage {
  position: fixed;
  left: 0%;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.projectPrevPage:hover{
  background: rgba(0, 0, 0, 0.5);
}
.pageDisplay{
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 300%;
  height: 100%;
  transition: 0.5s;
}
.page1{
  margin-left: 0%;
}
.page2{
  margin-left: -100%;
}
.page3{
  margin-left: -200%;
}
.menu-toggle {
  display: none;
  color: white;
  line-height: 75px;
}
.mobile {
  display: none;
}
.bg-black {
  background-color: black;
}
.bg-lightblue {
  background-color: lightblue;
}
.bg-gray {
  background-color: gray;
}
.bg-rgba-alpha {
  background: rgba(0, 0, 0, 0.8)
}
.bg-white {
  background-color: white;
}
.block {
  display: block;
}
.border-1px {
  border: solid 1px;
}
.border-5px-pink {
  border: solid 5px pink;
}
.border-b-1px {
  border-bottom: solid 1px;
}
.border-radius {
  border-radius: 5px;
}
.bottom-0 {
  bottom: 0%;
}
.box-shadow {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.box-sizing {
  box-sizing: border-box;
}
.display-none {
  display: none;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.font-color-white {
  color: white;
}
.font-color-pink {
  color: pink
}
.font-color-black {
  color: black;
}
.font-family-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.font-family-lobster {
  font-family: Lobster;
}
.font-size-small {
  font-size: small;
}
.font-size-3vw {
  font-size: 3vw;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-25px {
  font-size: 25px;
}
.font-size-30px {
  font-size: 30px;
}
.height-75pct {
  height: 75%;
}
.height-100pct {
  height: 100%;
}
.height-400pct {
  height: 400%;
}
.height-75vh {
  height: 75vh;
}
.height-85vh {
  height: 85vh;
}
.height-90vh {
  height: 90vh;
}
.height-100vh {
  height: 100vh;
}
.height-75px {
  height: 75px;
}
.hover:hover {
  background-color: #323038;
  cursor: pointer;
}
.hover-cursor:hover {
  cursor: pointer;
}
.hover-display-dropDownList:hover .dropDownList{
  display: block;
  cursor: pointer;
}
.hover-display-detail:hover .imgDetail{
  transform: scaleY(1);
}
.hover-transform-scale:hover .projectImg{
  transform: scale(1.1);
  transition: 1.5s;
}
.inline-block {
  display: inline-block;
}
.left-0 {
  left: 0%;
}
.left-25 {
  left: 25%;
}
.left-50 {
  left: 50%;
}
.left-100 {
  left: 100%;
}
.left-150 {
  left: 150%;
}
.left-minus100 {
  left: -100%;
}
.line-height-75px {
  line-height: 75px;
}
.margin-0 {
  margin: 0px;
}
.margin-10px {
  margin: 10px;
}
.margin-20px {
  margin: 20px;
}
.margin-b-10px {
  margin-bottom: 10px;
}
.margin-l-minus100pct{
  margin-left: -100%;
}
.margin-l-20px {
  margin-left: 20px;
}
.margin-r-20px {
  margin-right: 20px;
}
.margin-x-10px {
  margin: 0px 10px 0px 10px;
}
.margin-x-20px {
  margin: 0px 20px 0px 20px;
}
.max-w-20px {
  max-width: 20px;
}
.max-w-30pct {
  max-width: 30%;
}
.max-w-40pct {
  max-width: 40%;
}
.max-w-90pct {
  max-width: 90%;
}
.overflow {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.padding-auto {
  padding: auto;
}
.padding-0 {
  padding: 0px;
}
.padding-10px {
  padding: 10px;
}
.padding-x-10px {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-x-30px {
  padding-left: 30px;
  padding-right: 30px;
}
.padding-y-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-y-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-y-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}
.right-0 {
  right: 0%;
}
.text-align {
  text-align: center;
}
.top-0 {
  top: 0%;
}
.top-50 {
  top: 50%;
}
.top-75px {
  top: 75px;
}
.top-100 {
  top: 100%;
}
.top-150 {
  top: 150%;
}
.transform {
  transform: translate(-50%, -50%);
}
.transform-x-50pct{
  transform: translateX(-50%)
}
.transform-x-100pct{
  transform: translateX(-100%)
}
.transform-XY-50pct{
  transform: translate(-50%, -50%);
}
.transform-scaleX{
  transform: scaleX(-1);
}
.transition {
  transition: 0.5s;
}
.vertical-align {
  vertical-align: middle;
}
.width-25pct {
  width: 50%;
}
.width-50pct {
  width: 50%;
}
.width-100pct {
  width: 100%;
}
.width-200pct {
  width: 200%;
}
.width-300pct {
  width: 300%;
}
.width-100px {
  width: 100px;
}
.width-150px {
  width: 150px;
}
.width-200px {
  width: 100px;
}
.width-75vw {
  width: 75vw;
}
.width-85vw {
  width: 85vw;
}
.width-90vw {
  width: 90vw;
}

@media (max-width: 1000px) {
  nav {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-size: 20px;
  }
  .introSlideBox{
    width: 90vw;
    height: 90vh;
    z-index: 11;
  }
  .bottomBanner{
    height: 150px;
  }
  .desktop {
    display: none;
  }
  .menu-toggle {
    display: inline-block
  }
  .mobile {
    display: block;
  }
  .introFrame {
    border: solid 1px;
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  .projectSlideBox {
    height: 90vh;
    width: 90vw;
    z-index: 11;
    overflow: scroll;
  }
  .projectImg {
    max-width: 90%;
  }
  .projectFrame {
    width: 100%;
    height: 100%;
  }
}



